html, body{
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
}

section{
    width: 100%;
    min-height: 200px;
}



#leftjoin{
    background-color: #aaa;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/footer_lodyas.png");
    background-attachment: fixed;
    background-repeat: repeat;
    display: none;
}

header{
    background-color: #aaa;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/footer_lodyas.png");
    background-attachment: fixed;
    background-repeat: repeat;
}

#centerjoin h1{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 48px;
    font-family: Arial;
}

#rightchunk{
    background-image: url(https://placeimg.com/1200/300/nature/grayscale);
}

#rightjoin{
    background-color: #aaa;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/footer_lodyas.png");
    background-attachment: fixed;
    background-repeat: repeat;
    display: none;
}

#leftchunk{
    background-image: url(https://placeimg.com/1200/300/arch/grayscale);
}

#content{

}




@media(min-width: 1200px)
{

    body{
        display: grid;
        grid-template-columns: 1fr 300px 20px 3fr 20px 300px 1fr;
        grid-template-rows: 1fr 300px 20px 300px 20px 300px 20px 2fr 1fr;
        grid-template-areas: ".     .       .       .       .       .       ."
                             ".     lj      .       .       .       rc      ."
                             ".     lj      .       .       .       .       ."
                             ".     cj      cj      cj      cj      cj      ."
                             ".     .       .       .       .       rj      ."
                             ".     lc      .       c       .       rj      ."
                             ".     .       .       c       .       .       ."
                             ".     .       .       c       .       .       ."
                             ".     .       .       .       .       .       .";

    }

    main, footer, section{
        background-color: #ccc;
        box-shadow: #666666 1px 2px 3px;
    }

    #leftjoin{
        grid-area: lj;
        display: block;
    }

    header{
        grid-area: cj;
    }

    #rightchunk{
        grid-area: rc;
        background-image: url(https://placeimg.com/300/300/nature/grayscale);
    }

    #rightjoin{
        grid-area: rj;
        display: block;
    }

    #leftchunk{
        grid-area: lc;
        background-image: url(https://placeimg.com/300/300/arch/grayscale);
    }

    #content{
        grid-area: c;
    }

}